*{
    margin: 0;
    padding: 0;
}
.bgimg{
    background-color: #f2f3f4;
    height: 60px;
    width: 100%;
}

.navbar{
   background-color: #296d98;
}

ul{
    list-style: none;
    margin-top: 15px;
    margin-right: 35px;
}

ul li{
    display: inline-block;   
}

ul li a{
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent; border-radius: 20px;
}

ul li a:hover{
    background-color: #1c4966;
    color: white;
    transition: 0.6s ease;
}

.nav-item a{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }



 


.backfont{
    font-size: 25px;
    color: white;
}

#whatsapplogobutton{
    height: 80px;
    width: 170px;
}

.navbartwo{
    height: 55px;
    background-color: blanchedalmond;
    padding-top: 16px;
}
.navbarthree{
    background-color: blanchedalmond;
    margin-top: -5px;
    padding-top: 7px;

}

#c{
    padding: 5px 10px;
    text-decoration: none;
    color: darkslategrey;
    font-family: 'Jost', sans-serif;
    
}

#c:hover{
    background-color: #252f35;
    color: floralwhite;
    transition: 0.10s ease;
    border-radius: 30px;
}

.Products{
    background-color: #f2f3f4;
    height: auto;
    width: 100%;
    padding: 20px 0px 0px;
}



.Products h1{   
    color: rgb(70, 68, 68);
    text-align: center;
    padding: 0px;
    font-size: 35px;
    font-family: 'Jost', sans-serif;
}



.spoonmug{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}





.footer-top{
    background-color:  #1b1d30;
    padding-top: 10px;
    height: 140px;
}

footer .row{
    padding-top: 15px;
}

.segment-one p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 3px;
    margin-top: 20px;
    margin-left: 15px;
    color: rgb(192, 191, 192);
}

.segment-three h5{
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(192, 191, 192);
}

.segment-three a i{
    font-size: 30px;
    margin: 15px;
    margin-top: 0px;
}   

.segment-three a{
    color: white;
}

.segment-three a:hover{
    color: rgb(255, 136, 0);
}

.footer-bottom{
    background-color:  #16161b;
    height: 65px;
}
.footer-bottom p{
    color: rgb(172, 171, 170);
    margin: 0;
    line-height: 23px;
}




@media(min-width: 992px){
    .navbarthree{
        display: none;
    }
    
    
}

@media(min-width: 768px) and (max-width: 991px){
    .imgone1{
        display: none;
    }
    .navbarthree{
        display: none;
    }
}

@media(min-width: 575px) and (max-width: 767px){
    .navbartwo{
        height: 70px;
        background-color: blanchedalmond;
        display: none;
    }

    #c{
        margin-top: 8px;
        text-decoration: none;
        color: white;
        font-family: 'Jost', sans-serif;
        line-height: 40px;
        background-color: rgb(36, 41, 39);
        border-radius: 20px;
    }

    #c:hover{
        background-color: #20475f;
        color: floralwhite;
        transition: 0.10s ease;
        border-radius: 30px;
    }

    .footer-top{
        height: auto;
    }

    .footer-bottom{
        height: auto;
    }

    .imgone1{
        display: none;
    }
    
       
}

@media(min-width: 480px) and (max-width: 574px){
    .navbartwo{
        height: 100px;
        background-color: blanchedalmond;
        display: none;
        
    }

    #c{
        margin-top: 8px;
        text-decoration: none;
        color: white;
        font-family: 'Jost', sans-serif;
        line-height: 40px;
        background-color: rgb(36, 41, 39);
        border-radius: 20px;
    }

    #c:hover{
        background-color: #20475f;
        color: floralwhite;
        transition: 0.10s ease;
        border-radius: 30px;
    }

    .footer-top{
        height: auto;
    }

    .footer-bottom{
        height: auto;
    }
    .navbartwo{
        height: auto;
      }

      .imgone1{
        display: none;
    }
    
}

@media(max-width: 479px){

    .navbartwo{
        height: auto;
        background-color: blanchedalmond;
        display: none;
    }

    #c{
        margin-top: 8px;
        text-decoration: none;
        color: white;
        font-family: 'Jost', sans-serif;
        line-height: 40px;
        background-color: rgb(36, 41, 39);
        border-radius: 20px;
        
    }

    #c:hover{
        background-color: #20475f;
        color: floralwhite;
        transition: 0.10s ease;
        border-radius: 30px;
    }

    .footer-top{
        height: auto;
    }

    .footer-bottom{
        height: auto;
    }

    .navbartwo{
      height: auto;
    }

    .imgone1{
        display: none;
    }

    

}
